<div class="p-5 mx-auto bg-white xl:mx-40" id="proyect">
  <div>
    <h1 class="text-base font-semibold text-gray-500 border-b-2">PROYECTS</h1>
    <!-- LEFTH -->
    <div class="flex flex-col text-gray-500 md:flex-row">
      <div class="w-full mb-0 md:w-1/2">
        <swiper
          [spaceBetween]="30"
          [centeredSlides]="true"
          [autoplay]="{
            delay: 2500,
            disableOnInteraction: false
          }"
          [pagination]="{
            clickable: true
          }"
          [navigation]="true"
          class="mySwiper"
        >
          <ng-template swiperSlide class="flex items-center justify-center"
            ><img
              src="../../assets/galery-proyects/pro1/1.png"
              class="object-cover w-2/3 h-40 rounded-lg sm:h-56 sm:w-4/5 md:h-64 drop-shadow-md mb-7" /></ng-template
          ><ng-template swiperSlide class="flex items-center justify-center"
            ><img
              src="../../assets/galery-proyects/pro1/2.png"
              class="object-cover w-2/3 h-40 rounded-lg sm:h-56 sm:w-4/5 md:h-64 mb-7 drop-shadow-md" /></ng-template
          ><ng-template swiperSlide class="flex items-center justify-center"
            ><img
              src="../../assets/galery-proyects/pro1/3.png"
              class="object-cover w-2/3 h-40 rounded-lg sm:h-56 sm:w-4/5 md:h-64 mb-7 drop-shadow-md" /></ng-template
          ><ng-template swiperSlide class="flex items-center justify-center"
            ><img
              src="../../assets/galery-proyects/pro1/4.png"
              class="object-cover w-2/3 h-40 rounded-lg sm:h-56 sm:w-4/5 md:h-64 mb-7 drop-shadow-md"
          /></ng-template>
          <ng-template swiperSlide class="flex items-center justify-center"
            ><img
              src="../../assets/galery-proyects/pro1/5.png"
              class="object-cover w-2/3 h-40 rounded-lg sm:h-56 sm:w-4/5 md:h-64 mb-7 drop-shadow-md"
          /></ng-template>
        </swiper>
      </div>
      <div
        class="md:px-5 md:w-1/2 md:max-h-max md:border-l-2 md:border-gray-200"
      >
        <h1 class="p-0 m-0 text-sm font-semibold">
          <span class="mr-3 underline">Title:</span
          ><span class="italic">"PIZARRA DIGITAL WEB"</span>
        </h1>
        <h1 class="p-0 m-0 text-sm font-semibold">
          <span class="mr-3 underline">Aplication:</span>
          <a
            class="italic text-teal-500 cursor-pointer"
            href="{{ proyect_1 }}"
            target="_blank"
            >link</a
          >
        </h1>
        <h1 class="p-0 m-0 text-sm font-semibold">
          <span class="mr-3 underline">Repository:</span
          ><a
            class="italic text-teal-500 cursor-pointer"
            href="{{ github_1 }}"
            target="_blank"
            >GitHub</a
          >
        </h1>
        <h1 class="p-0 mb-1 text-sm font-semibold underline">Description:</h1>
        <p class="p-0 ml-5 text-xs italic text-justify">
          Esta es una aplicación web destina a ayudar a estudiantes de colegios
          y profesores del area de matemáticas. Las vondades de esta aplicacion
          se resumen en juntar algunas características de google y la api
          mathio, la generacion de grificos de geométria análitica de geogebra y
          la pizarra de OpenBoard. Esta aplicación esta desarrollada bajo la
          libreria de React, se usa Sass y Material UI para el manejo de estilo
          y componentes, se uso Firebase de Google para almacenar imagenes y
          pdfs. La aplicación puede generar un reporte PDF desde el front.
        </p>
      </div>
    </div>
    <!-- RIGHT -->
    <div></div>
  </div>
</div>
