<nav class="nav">
  <div class="container flex items-center justify-between h-16 md:h-20">
    <!-- LOGO Y TITLE -->
    <h1 class="relative z-30 p-0 m-0 text-2xl font-semibold">Victor Quino</h1>

    <!-- LOGO END -->
    <!-- MENU AMBURGUESA CLOSE -->
    <div class="flex flex-row-reverse items-center gap-3 md:flex-row md:gap-12">
      <!-- MENU LIST -->
      <ul
        id="menu"
        class="nav-menus translate-y-[-110%] md:translate-y-0"
        [ngClass]="isMenuOpen ? 'translate-y-0' : 'translate-y-[-110%]'"
      >
        <a class="nav-link" href="#home">Home</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#portfolio">Portfolio</a>
        <a class="nav-link" href="#contact">Contact</a>
      </ul>

      <!-- MENU MOVIL -->
      <button
        id="toggle-menu"
        class="relative z-30 p-2 md:hidden dark:invert"
        (click)="toggleMenu()"
      >
        <svg
          class="w-5 h-5 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- MENU AMBURGUESA END -->
  <!-- NAVBAR -->
  <!-- NAVBAR END -->
</nav>
