<div class="mb-32 text-center">
  <h2 class="text-3xl font-bold text-primary-default md:text-4xl mb-14">
    My Skill Frontend
  </h2>
  <div class="flex flex-wrap items-center justify-center gap-24 md:gap-12">
    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/angular.svg" class="w-10 h-10" alt="" />
        <span class="text-xs text-gray-500">AngularJS</span>
      </div>
    </div>
    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K"
          alt=""
          class="w-10 h-10"
        />
        <span class="text-xs text-gray-500">React</span>
      </div>
    </div>

    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 36 32"
          fill="none"
          class="w-10 h-10 css-1170n61"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M30.343 21.976a1 1 0 00.502-.864l.018-5.787a1 1 0 01.502-.864l3.137-1.802a1 1 0 011.498.867v10.521a1 1 0 01-.502.867l-11.839 6.8a1 1 0 01-.994.001l-9.291-5.314a1 1 0 01-.504-.868v-5.305c0-.006.007-.01.013-.007.005.003.012 0 .012-.007v-.006c0-.004.002-.008.006-.01l7.652-4.396c.007-.004.004-.015-.004-.015a.008.008 0 01-.008-.008l.015-5.201a1 1 0 00-1.5-.87l-5.687 3.277a1 1 0 01-.998 0L6.666 9.7a1 1 0 00-1.499.866v9.4a1 1 0 01-1.496.869l-3.166-1.81a1 1 0 01-.504-.87l.028-16.43A1 1 0 011.527.86l10.845 6.229a1 1 0 00.996 0L24.21.86a1 1 0 011.498.868v16.434a1 1 0 01-.501.867l-5.678 3.27a1 1 0 00.004 1.735l3.132 1.783a1 1 0 00.993-.002l6.685-3.839zM31 7.234a1 1 0 001.514.857l3-1.8A1 1 0 0036 5.434V1.766A1 1 0 0034.486.91l-3 1.8a1 1 0 00-.486.857v3.668z"
            fill="#007FFF"
          ></path>
        </svg>
        <span class="text-xs text-gray-500">Material UI</span>
      </div>
    </div>
    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/sass.svg" alt="" class="w-10 h-10" />
        <span class="text-xs text-gray-500">Sass</span>
      </div>
    </div>
    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/tailwind.svg" alt="" class="w-10 h-10" />
        <span class="text-xs text-gray-500">Tailwind</span>
      </div>
    </div>
  </div>

  <h2 class="mt-20 text-3xl font-bold text-primary-default md:text-4xl mb-14">
    My Skill Backend
  </h2>
  <div class="flex flex-wrap items-center justify-center gap-24 md:gap-12">
    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img
          src="../../assets/icons/nodejs.svg"
          alt=""
          class="w-10 h-10 bg-gray-600"
        />
        <span class="text-xs text-gray-500">NodeJS</span>
      </div>
    </div>

    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/nest.svg" class="w-10 h-10" alt="" />
        <span class="text-xs text-gray-500">NestJS</span>
      </div>
    </div>

    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/postgres.png" class="w-10 h-10" alt="" />
        <span class="text-xs text-gray-500">PostgreSql</span>
      </div>
    </div>

    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <img src="../../assets/icons/typeorm.png" class="w-10 h-10" alt="" />
        <span class="text-xs text-gray-500">TypeORM</span>
      </div>
    </div>

    <div class="skill" data-text="Experience 3 years">
      <div class="flex flex-col items-center">
        <svg
          class="w-10 h-10"
          viewBox="0 0 192 192"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              gradientTransform="matrix(2.67 0 0 -2.67 317.23 -1808)"
              gradientUnits="userSpaceOnUse"
              id="d"
              x1="-108.63"
              x2="-58.56"
              y1="-692.24"
              y2="-742.31"
            >
              <stop offset="0" stop-color="#fff" stop-opacity=".1"></stop>
              <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient
              gradientUnits="userSpaceOnUse"
              id="b"
              x1="56.9"
              x2="48.9"
              y1="102.54"
              y2="98.36"
            >
              <stop offset="0" stop-color="#a52714"></stop>
              <stop offset=".4" stop-color="#a52714" stop-opacity=".5"></stop>
              <stop offset=".8" stop-color="#a52714" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient
              gradientUnits="userSpaceOnUse"
              id="c"
              x1="90.89"
              x2="87.31"
              y1="90.91"
              y2="87.33"
            >
              <stop offset="0" stop-color="#a52714" stop-opacity=".8"></stop>
              <stop offset=".5" stop-color="#a52714" stop-opacity=".21"></stop>
              <stop offset="1" stop-color="#a52714" stop-opacity="0"></stop>
            </linearGradient>
            <clipPath id="a">
              <path
                d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150l57.9 32.46a12 12 0 0011.7 0L160 150z"
              ></path>
            </clipPath>
          </defs>
          <g clip-path="url(#a)">
            <path
              d="M32 150L53.66 11.39a4 4 0 017.48-1.27l22.4 41.78 8.93-17a4 4 0 017.08 0L160 150z"
              fill="#ffa000"
            ></path>
            <path
              d="M106 9L0 0v192l32-42L106 9z"
              fill="url(#b)"
              opacity=".12"
            ></path>
            <path
              d="M106.83 96.01l-23.3-44.12L32 150l74.83-53.99z"
              fill="#f57c00"
            ></path>
            <path d="M0 0h192v192H0z" fill="url(#c)" opacity=".2"></path>
            <path
              d="M160 150L143.41 47.34a4 4 0 00-6.77-2.16L32 150l57.9 32.47a12 12 0 0011.7 0z"
              fill="#ffca28"
            ></path>
            <path
              d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150h-.08l.07.08.57.28L115.83 67l20.78-20.8a4 4 0 016.78 2.16l16.45 101.74.16-.1zM32.19 149.81L53.66 12.39a4 4 0 017.48-1.28l22.4 41.78 8.93-17a4 4 0 017.08 0l16 30.43z"
              fill="#fff"
              fill-opacity=".2"
            ></path>
            <path
              d="M101.6 181.49a12 12 0 01-11.7 0l-57.76-32.4-.14.91 57.9 32.46a12 12 0 0011.7 0L160 150l-.15-.92z"
              fill="#a52714"
              opacity=".2"
              style="isolation: isolate"
            ></path>
            <path
              d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150l57.9 32.46a12 12 0 0011.7 0L160 150z"
              fill="url(#d)"
            ></path>
          </g>
        </svg>
        <span class="text-xs text-gray-500">Firebase</span>
      </div>
    </div>
  </div>
</div>
