<div class="home-section" id="home">
  <div class="order-2 mt-10 md:order-1">
    <h2 class="p-0 m-0 text-5xl font-bold md:text-7xl">Hola,</h2>
    <h2 class="p-0 mt-2 text-5xl font-bold md:text-7xl">
      Yo soy <span class="text-primary-default">Victor</span>
    </h2>
    <h3 class="p-0 mt-5 mb-10 text-2xl font-bold opacity-70 md:text-3xl">
      Ingeniero de Sistemas Informáticos
    </h3>
    <a href="#portfolio" class="btn-primary">Ver mis trabajos</a>
  </div>
  <div class="container-hero-image">
    <img
      src="../../assets/of-2.jpg"
      alt="hero"
      class="object-cover object-center w-full h-full opacity-90"
    />
  </div>
</div>
<div class="flex items-center justify-between w-full gap-3 mb-10" id="about">
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div class="w-4 h-3 bg-primary-default/60"></div>
  <div
    class="flex-grow h-3 bg-gradient-to-r from-primary-default/60 to-primary-default/0"
  ></div>
</div>
<section class="py-32">
  <!-- DESCRIBE -->
  <div
    class="flex flex-col items-center justify-center gap-10 md:flex-row md:gap-20"
  >
    <div
      class="w-48 h-48 overflow-hidden rounded-full md:w-64 md:h-64 bg-primary-default"
    >
      <img
        class="object-cover w-full h-full opacity-90"
        src="../../assets/of-1.jpg"
        alt="profolio"
      />
    </div>
    <div class="w-full text-base text-center md:w-1/2 md:text-lg md:text-left">
      <h2 class="mb-3 text-2xl font-bold text-primary-default md:text-3xl">
        Hola, Yo soy Victor
      </h2>
      <p class="mb-3 italic opacity-80">
        Soy Licenciado en Informática con mensión en Ingeniería de Sistemas
        Informáticos. Me gradue de la carrera de Informática perteneciente a la
        facultado de Ciencias Puras y Naturales de la Universidad Mayor de San
        Andres.
      </p>
      <p class="italic opacity-80">
        Soy un apacionado por las tecnologías y actualmente me considero
        FullStack ya que manejo tecnologías asociadas al FrontEnd y Backend
        entre otros. En este sitio le resumo algo de lo que se, pero si desea
        saber mas de mi; lo invito a descargar mi curriculum o contactarse con
        mi persona mediante los enlaces proporcionados en esta página.
      </p>
    </div>
  </div>
</section>
