<div class="p-5 pt-16 mx-auto bg-white opacity-100 xl:container" id="home">
  <h1 class="text-base font-semibold text-gray-500 border-b-2 border-gray-200">
    HOME
  </h1>
  <div class="flex flex-col sm:flex-row">
    <div class="container h-auto mx-auto sm:w-1/2 sm:pr-5">
      <div class="text-gray-500">
        <h3 class="mb-1 text-sm">Mi nombre es:</h3>
        <h1 class="mb-1 text-xl font-semibold">Victor Daniel Quino Jimenez</h1>
        <h3 class="mb-1 text-sm">Soy Ingeniero de Sistemas Informáticos</h3>
        <p class="text-xs italic text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
          voluptatem, nihil nemo neque illo fugit odit atque exercitationem rem
          ea aliquam officia. Quibusdam, possimus ex. Distinctio officia at
          ducimus tempora.
        </p>
      </div>
    </div>
    <div
      class="flex items-center justify-center sm:w-1/2 sm:border-l-2 sm:border-gray-200"
    >
      <img
        class="w-40 rounded-full shadow-lg"
        src="../../assets/foto.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
